<% if @user.errors.any? %> <div id="error_explanation"> <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2> <ul> <% @user.errors.full_messages.each do |msg| %> <li><%= msg %></li> <% end %> </ul> </div> <% end %> 
<%= form_for @user do |f|%>

<label for="username">username</label>
<%= f.text_field :username%>
<br>
<label for="email">email</label>
<%= f.email_field :email%>
<br>
<label for="password">password</label>
<%= f.password_field :password%>
<br>
<%= f.submit "Submit"%>
<%end%>