<h3>Your Events</h3>

<% @user.each do |v| %>
<p>Title : <%= v.title %></p>
<p>Description : <%= v.description %></p>
<p>Date of event : <%= v.event_date %></p>
<p>By : <%= User.find(v.user_id).name%> 
<p>Attendees :</p>
<% @attendee.each do |f|%>
<% if f.event_id == v.id%>
<%= User.find(f.user_id).name%> |
<% end %>
<% end %>
<hr>
<%end%>

<h3>Attended Events</h3>

<% @events.each do |v| %>
<% if @attended.where(event_id: v.id).exists?%>
<p>Title : <%= v.title %></p>
<p>Description : <%= v.description %></p>
<p>Date of event : <%= v.event_date %></p>
<p>By : <%= User.find(v.user_id).name%> 
<p>Attendees :</p>
<% @attendee.each do |f|%>
<% if f.event_id == v.id%>
<%= User.find(f.user_id).name%> |
<% end %>
<% end %>
<hr>
<%end%>
<%end%>