<a href="<%=new_event_path%>">Create event</a>
<a href="<%=events_all_path%>">See your created events</a>

<h1>Events List:</h1>
<br>
<% @list.each do |v| %>
<p>Title : <%= v.title %></p>
<p>Description : <%= v.description %></p>
<p>By : <%= User.find(v.user_id).name%> 
<hr>

<% end %>