<h1>Upcoming Events List:</h1>
<br>
<% @new_list.each do |v| %>
<p>Title : <%= v.title %></p>
<p>Description : <%= v.description %></p>
<p>Date of event : <%= v.event_date %></p>
<p>By : <%= User.find(v.user_id).name%> 
<p>Attendees :</p>
<% @attendee.each do |f|%>
<% if f.event_id == v.id%>
<%= User.find(f.user_id).name%> |
<% end %>
<% end %>
<br>

<% if @attendee.where(user_id: cookies[:userid], event_id: v.id).exists?%>
<p>Joined!</p>
<% else %>
<a href="<%=registed_path(event_id: v.id)%>">join event</a>
<%end%>

<hr>

<% end %>

<h1>Past Events List:</h1>
<br>
<% @old_list.each do |v| %>
<p>Title : <%= v.title %></p>
<p>Description : <%= v.description %></p>
<p>Date of event : <%= v.event_date %></p>
<p>By : <%= User.find(v.user_id).name%> 
<p>Attendees :</p>
<% @attendee.each do |f|%>
<% if f.event_id == v.id%>
<%= User.find(f.user_id).name%> |
<% end %>
<% end %>
<br>
<% if @attendee.where(user_id: cookies[:userid], event_id: v.id).exists?%>
<p>Joined!</p>
<% else %>
<p>Missed :(</p>
<%end%>

<hr>

<% end %>