<% if @event.errors.any? %> <div id="error_explanation"> <h2><%= pluralize(@event.errors.count, "error") %> prohibited this post from being saved:</h2> <ul> <% @event.errors.full_messages.each do |msg| %> <li><%= msg %></li> <% end %> </ul> </div> <% end %>



<%= form_for(@event, url: event_index_path) do |f|%>

<label for="title">title</label>
<%= f.text_field :title %>
<br>
<label for="content">description</label>
<%= f.text_field :description %>
<br>
<%= f.submit "Submit"%>
<%end%>



