<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <a href="<%=join_event_path%>">join a event</a>
  <%if cookies[:userid].nil? || cookies[:userid] == ""%>
    <p>Welcome Stranger!
    <%= link_to "Sign In", login_path%>
    <%= link_to "Sign up", new_user_path%></p>
    <br>
    <%else%>
    <p>Welcome! <%= User.find(cookies[:userid]).name%> <%= link_to "Logout", logout_path%> </p>
    <br>
  <%end%>
    <%= yield %>
  </body>
</html>
